<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Aruna/src/array/stringArray.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="array.stringArray"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="aruna&#13;&#10;bolla&#13;&#10;sunitha&#13;&#10;dantu&#13;&#10;sandhya&#13;&#10;chowdary"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aruna"/>
</launchConfiguration>
